
.seeproject-area{
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: #eee;
    margin-top: 3px;
}

.project-title-location{
    background-color: #682de9;
    padding: 50px 0;
    text-align: center;
    margin-bottom: 40px;

}

.project-title-location h1{
    text-transform: uppercase;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
}

.back-btn{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: 'Montserrat',sans-serif;
    text-decoration: none;
    margin-bottom: 30px;
    color: #682de9;
}
.back-btn .icon{
    font-size: 20px;
    margin-right: 5px;
    color: #682de9;
}

.details-grid-layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}



@media screen and (max-width:992px){
    .details-grid-layout{
        grid-template-columns: repeat(2, 1fr);
    }   

}


@media screen and (max-width:768px){
    .details-grid-layout{
        grid-template-columns: repeat(1, 1fr);
    }   
    .project-title-location h1{
        font-size: 16px;
    }
}