.header-area{
    height: 100vh;
    position: relative;
}

.side-bg{
    position: absolute;
    background-color: #682de9;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: -100;
}
.hinfo{
    width: 50%;
    font-family: 'Montserrat',sans-serif;
}
.hinfo h6{
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 20px;
    color: #fff;
    font-family: "Fredoka One", Helvetica, Arial, sans-serif;
}
.hinfo h1{
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Fredoka One", Helvetica, Arial, sans-serif;
    font-size: 60px;
    line-height: 1.2em;
    color: #fff;

}
.glitch{
    color: #fff;
    text-shadow: 0 0 7px #fff;
}
.glitch {
	 position: relative;
	 margin: 0 auto;
}
 @keyframes noise-anim {
	 0% {
		 clip: rect(40px, 9999px, 19px, 0);
	}
	 5% {
		 clip: rect(39px, 9999px, 72px, 0);
	}
	 10% {
		 clip: rect(50px, 9999px, 48px, 0);
	}
	 15% {
		 clip: rect(27px, 9999px, 59px, 0);
	}
	 20% {
		 clip: rect(27px, 9999px, 32px, 0);
	}
	 25% {
		 clip: rect(42px, 9999px, 21px, 0);
	}
	 30% {
		 clip: rect(54px, 9999px, 46px, 0);
	}
	 35% {
		 clip: rect(47px, 9999px, 48px, 0);
	}
	 40% {
		 clip: rect(45px, 9999px, 14px, 0);
	}
	 45% {
		 clip: rect(68px, 9999px, 13px, 0);
	}
	 50% {
		 clip: rect(62px, 9999px, 58px, 0);
	}
	 55% {
		 clip: rect(77px, 9999px, 2px, 0);
	}
	 60% {
		 clip: rect(61px, 9999px, 69px, 0);
	}
	 65% {
		 clip: rect(42px, 9999px, 59px, 0);
	}
	 70% {
		 clip: rect(13px, 9999px, 75px, 0);
	}
	 75% {
		 clip: rect(61px, 9999px, 65px, 0);
	}
	 80% {
		 clip: rect(41px, 9999px, 55px, 0);
	}
	 85% {
		 clip: rect(43px, 9999px, 59px, 0);
	}
	 90% {
		 clip: rect(41px, 9999px, 44px, 0);
	}
	 95% {
		 clip: rect(60px, 9999px, 1px, 0);
	}
	 100% {
		 clip: rect(71px, 9999px, 66px, 0);
	}
}
 .glitch:after {
	 content: attr(data-text);
	 position: absolute;
	 left: 2px;
	 text-shadow: -1px 0 red;
	 top: 0;
	 color: white;
	 background: #682de9;
	 overflow: hidden;
	 clip: rect(0, 900px, 0, 0);
	 animation: noise-anim 2s infinite linear alternate-reverse;
}
 @keyframes noise-anim-2 {
	 0% {
		 clip: rect(68px, 9999px, 18px, 0);
	}
	 5% {
		 clip: rect(27px, 9999px, 48px, 0);
	}
	 10% {
		 clip: rect(92px, 9999px, 72px, 0);
	}
	 15% {
		 clip: rect(68px, 9999px, 30px, 0);
	}
	 20% {
		 clip: rect(54px, 9999px, 61px, 0);
	}
	 25% {
		 clip: rect(26px, 9999px, 47px, 0);
	}
	 30% {
		 clip: rect(6px, 9999px, 6px, 0);
	}
	 35% {
		 clip: rect(47px, 9999px, 1px, 0);
	}
	 40% {
		 clip: rect(69px, 9999px, 7px, 0);
	}
	 45% {
		 clip: rect(11px, 9999px, 27px, 0);
	}
	 50% {
		 clip: rect(60px, 9999px, 31px, 0);
	}
	 55% {
		 clip: rect(60px, 9999px, 96px, 0);
	}
	 60% {
		 clip: rect(33px, 9999px, 68px, 0);
	}
	 65% {
		 clip: rect(74px, 9999px, 37px, 0);
	}
	 70% {
		 clip: rect(69px, 9999px, 93px, 0);
	}
	 75% {
		 clip: rect(37px, 9999px, 5px, 0);
	}
	 80% {
		 clip: rect(49px, 9999px, 41px, 0);
	}
	 85% {
		 clip: rect(57px, 9999px, 88px, 0);
	}
	 90% {
		 clip: rect(65px, 9999px, 39px, 0);
	}
	 95% {
		 clip: rect(31px, 9999px, 46px, 0);
	}
	 100% {
		 clip: rect(43px, 9999px, 26px, 0);
	}
}
 .glitch:before {
	 content: attr(data-text);
	 position: absolute;
	 left: -2px;
	 text-shadow: 1px 0 blue;
	 top: 0;
	 color: white;
	 background: black;
	 overflow: hidden;
	 clip: rect(0, 900px, 0, 0);
	 animation: noise-anim-2 3s infinite linear alternate-reverse;
}
 
.hinfo h2{
    text-transform: uppercase;
    color: #fffffff2;
    margin-top: 15px;
    margin-bottom: 20px;
}
.btn-flex{
    display: flex;
    align-items: center;
}


.btn{
    border: none;
    outline:none;
    padding: 15px;
    margin-right: 8px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3.4px;
    cursor: pointer;
}
.greeing-area{
    display: flex;
    margin-left: -10px;
    align-items: center;

}
.greeing-area img{
    height: 100px;
    margin-right: 15px;
}

.greeing-area h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    margin-top: 40px;
    color: #3f3d56;
}

.header-flex{
   display: flex;
   justify-content: space-between;
   align-items: center ;
   height: 80vh;
}

.header-img{
 width: 45%;
}
.header-img img{
    width: 100%;
    float: right;
}

.hinfo p{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 200;
    color: #fff;
    padding-right: 25px;
    
}



/* =============================================== responsive */

@media screen and (max-width:992px){
        .header-flex{
            flex-direction: column;
           align-items: center;
           height: 60vh;
           justify-content: center;
        }
        .side-bg{
            display: none;
            
        }
 
        .header-img{
            width: 100%;
            display: none;
        }
        .hinfo{
          width: 100%;
            margin: 100px 0;

        }
        .hinfo h6{
            padding-top: 100px;
            color: #fff;
        }
  
        .header-area{
            background-color: #682de9;
        }
        .header-img{
            display: none;
        }
}
@media screen and (max-width:768px){
        .hinfo h1{
            font-size: 30px;
        }
        .hinfo h2{
            font-size: 20px;
        }
        .btn-flex{
            padding-bottom: 20px;
        }
        .hinfo h6{
            /* padding-top: 200px; */
            color: #fff;
        }
        .hinfo p{
            padding-right: 0;
        }
}
@media screen and (max-width:576px){
    .hinfo h1{
        font-size: 20px;
    }
    .hinfo h2{
        font-size: 15px;
    }
    .hinfo p{
        font-size: 10px;
    }
    .btn-flex{
        flex-direction: column;
        width: 100%;
    }
    .btn-flex .width{
        width: 100%;
    }
    .btn-flex .btn{
        width: 100%;
        margin-bottom: 10px;
    }

}
