
.js-blogs-details-area{
    padding: 30px 0;
    background-color: #eee;
    margin-top:4px;
}
.js-post-ui-grid-layout{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
}

.js-post-details{
    width: 75%;
    padding: 20px;
}
.about-category{
    width: 25%;
    padding: 15px;
}

.js-post-title-area{
    padding: 40px;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #682de9;
}

.js-post-details{
    border-right: 2px solid #682de9;
}

.underline-js-post{
    width: 200px;
    margin-bottom: 25px;
    margin-top: 15px;
}
.underline-js-post h6{
    text-transform: uppercase;
}
.underline-js-post .underline{
    width: 100%;
    height: 3px;
    background-color:#682de9 ;
}

.back{
    border: none;
    outline-style: none;
    background-color: #682de9;
    padding: 12px 30px;
    color: #fff;
    text-align: center;
    margin: 30px 0;
    cursor: pointer;
}
@media screen and (max-width:992px){
    .js-post-ui-grid-layout{
        flex-direction: column;
    }
    .js-post-details{
        border-right: none !important;
        width: 100%;
    }
    .about-category{
        width: 100%;
    }
}